body, html {
  height: 100%;
  margin: 0;
}

.parallax {
  background-image: url('https://i.pinimg.com/originals/90/fc/89/90fc8930bd96f76bd839527fe1cf7722.jpg'); 
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax2 {
  background-image: url('https://th.bing.com/th/id/OIP.ivQcB7PtEkA5Exd_gTC7XQHaE7?w=264&h=180&c=7&r=0&o=7&dpr=1.5&pid=1.7&rm=3'); 
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
}
